{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Acerca de" %}{% endblock %}
{% block description %}{% trans "Contacto por correo electrónico" %}{% endblock %}
{% block body %}

<section id="sectionContact"> 
  <span class="iconContact fa fa-envelope-o"> </span>
  <form id="formContact" method="post" action="" enctype="multipart/form-data">   
      {% csrf_token %}
      <div class="field name-box" >
          <input type="text" id="nameContact" placeholder={% blocktrans %}"¿Cuál es tu nombre?"{%endblocktrans%} name="nameContact"/>
          <label for="nameContact">{% trans "Nombre" %}</label>
      </div>
      <div class="field email-box">
          <input type="text" id="emailContact" placeholder={% trans "ejemplo@email.com" %} name="emailContact"/>
          <label for="emailContact">{% trans "Correo" %}</label>
      </div>
      <div class="field phone-box">
          <input type="text" id="phoneContact" placeholder={% trans "(Opcional)" %} name="phoneContact"/>
          <label for="phoneContact">{% trans "Móvil" %}</label>
      </div>
      <div class="field msg-box">
          <textarea id="messageContact" rows="4" placeholder= {% blocktrans%} "Escribe aquí tu mensaje..." {%endblocktrans%} name="messageContact"/></textarea>
          <label for="messageContact">{% trans "Mensaje" %}</label>
      </div>
      <input class="button" type="submit" value={% trans "Enviar" %} />
  </form>
</section>

<script>
  {% if mensaje %}
    successSendMessage('{{ mensaje|striptags }}');
  {% endif %}
  var error = "";
  {% if form.nameContact.errors %}
    error = {% trans 'Nombre : '%} + '{{form.nameContact.errors|striptags}}';
  {% endif %}
  {% if form.emailContact.errors %}
    error = error + {% trans '\nCorreo electrónico: '%} + '{{form.emailContact.errors|striptags}}';
  {% endif %}
  {% if form.messageContact.errors %}
    error = error + {% trans '\nMensaje: '%} + '{{form.messageContact.errors|striptags}}';
  {% endif %}
  if(error){
    errorForm(error);
  }
</script>

{% endblock %}