
{% extends "layout.html" %}
{% load i18n %}

{% block title %}{% trans "Datos personales" %}{% endblock %}
{% block description %}{% trans "Datos personale" %}{% endblock %}

{% block body %}

<h1>{% trans "Por favor, te agradeceríamos que nos facilitaras tus datos personales para poder ponernos en contacto contigo si el avispamento es positivo." %}</h1>


<form method="post" action="{% url 'sight_question' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    <div class="form-group col-md-offset-3 col-xs-12 col-md-6">
      <label for="nameContact">{% trans "Nombre" %}</label>
      <input class="form-control" type="text" id="nameContact" name="nameContact" placeholder={% blocktrans %}"¿Cuál es tu nombre?"{%endblocktrans%} />
      <br>
      <label for="emailContact">{% trans "Correo" %}</label>
      <input class="form-control" type="text" id="emailContact" name="emailContact" placeholder={% trans "ejemplo@email.com" %} />
      <br>
      <label for="phoneContact">{% trans "Móvil" %}</label>
      <input class="form-control" type="text" id="phoneContact" name="phoneContact" />

      <br>
      <br>

      <button class="btn btn-primary col-md-offset-3 col-xs-12 col-md-6" type="submit">{% trans "Enviar" %}</button>
    </div>
  </div>

</form>

{% endblock %}
