{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% block description %}{% trans "Registro de usuario" %}{% endblock %}
{% block body %}
<div id="formSignup" class="animated">
  <div class="left-col">
    <h2 id="tittleformsignup">{% trans "¡Sigue tus avispamientos más de cerca!" %}</h2>
    <hr/>
    <p>{% trans "Si quieres conocer el estado de tu avispamiento REGÍSTRATE para hacer comentarios y visualizar todas las fotos que nos has mandado" %}</p>
  </div>
  <div class="right-col">
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" id="first-name" name="username"/>
      <label for="first-name"><span class="fa fa-user"></span> {% trans "Nombre de usuario" %}</label>
      <input type="text" id="email" name="email"/>
      <label for="email"><span class="fa fa-envelope"></span> {% trans "Correo electrónico" %}</label>
      <input type="number" id="phone" name="phone"/>
      <label for="phone"><span class="fa fa-phone"></span> {% trans "Teléfono" %}</label>
      <input type="password" id="password" name="password"/>
      <label for="password"><span class="fa fa-lock"></span> {% trans "Contraseña" %}</label>
      <input type="password" id="password2" name="password2"/>
      <label for="password2"><span class="fa fa-lock"></span> {% trans "Repita la contraseña" %}</label>

      <input type="checkbox" id="terms" value="terms" required>
      <span>{% trans "Confirmo que he leído y acepto los " %} <a data-toggle="modal" data-target="#privacity">{% trans "términos legales" %}</a></span>

      <input type="submit" id="submit" value= {% trans "REGISTRARSE" %} >

    </form>
  </div>
</div>

<!-- Modal -->
<div id="privacity" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modalTitle">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title modalFont">{% trans "Términos legales" %}</h4>
      </div>
      <div class="modal-body">

        {% trans "En cumplimiento del que dispone la Ley Orgánica 15/1999, de 13 de diciembre, de protección de datos de carácter personal, os informamos que los datos recogidos serán incluidas en uno o más ficheros gestionados por la UIB, la finalidad de los cuales es contactar con el responsable del avistamento de la avispa asiática en caso de que sea necesario para obtener más información del avistamento. Los datos solicitados son necesarias para cumplir con la mencionada finalidad y, por lo tanto, el hecho de no obtenerlas impide conseguirla." %}
        <br>
        <br>
        {% trans "La UIB es la responsable del tratamiento de los datos y como tal os garantiza los derechos de acceso, rectificación, cancelación y oposición en cuanto a los datos facilitados, para ejercer los cuales os tenéis que dirigir por escrito a: Universitat de les Illes Balears, Secretaría General, a la atención del responsable de seguridad, fichero de datos Vespapp, cra. de Valldemossa, km 7,5, 07122 Palma (Islas Baleares). Del mismo modo, la UIB se compromete a respetar la confidencialidad de vuestros datos y a utilizarlas de acuerdo con el fin de los ficheros." %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cerrar" %}</button>
      </div>
    </div>
  </div>
</div>

<script>
  var error = "";
  {% if form.username.errors %}
    error = {% trans 'Nombre de usuario: '%} + '{{form.username.errors|striptags}}';
  {% endif %}
  {% if form.email.errors %}
    error = error + {% trans '\nCorreo electrónico: '%} + '{{form.email.errors|striptags}}';
  {% endif %}
  {% if form.phone.errors %}
    error = error + {% trans '\nTeléfono: '%} + '{{form.phone.errors|striptags}}';
  {% endif %}
  {% if form.password.errors %}
    error = error + {% trans '\nContraseña: '%} + '{{form.password.errors|striptags}}';
  {% endif %}
  {% if form.password2.errors %}
    error = error + {% trans '\nRepita la contraseña: '%} + '{{form.password2.errors|striptags}}';
  {% endif %}
  if(error){
    errorForm(error);
  }
</script>

{% endblock %}
